@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');


:root {
    --yellow: #F5C24D;
    --black: #000;
    --red: #ED6059;
    --green: #2DF57D;
    --blue: #2A819E;
    --grey: #737171;

    --back-img: url(/img/back-img.svg);


    --abel-font: 'Abel', sans-serif;
    --exo-font: 'Exo', sans-serif;
    --baloo-font: 'Baloo 2', sans-serif;
    --register-head-font: 'Advent Pro', sans-serif;
    --register-body-font: 'Inter', sans-serif;
}


.contact-page .banner {
    color: #000;
    font-family: var(--baloo-font);
    font-size: 70px ;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.contact-page .banner .site-logo{
    bottom: 70px;
    right: 0;
    margin-right: 20%;

}

.contact-page .banner span{
    margin-left: 16%;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
