@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


:root {
    --yellow: #F5C24D;
    --title-yellow: #F2D146;
    --black: #000;
    --red: #ED6059;
    --green: #2DF57D;
    --blue: #2A819E;
    --grey: #737171;
    --text-gray: #60606E;

    --back-img: url(/img/back-img.svg);


    --abel-font: 'Abel', sans-serif;
    --exo-font: 'Exo', sans-serif;
    --baloo-font: 'Baloo 2', sans-serif;  
    --acme-font: 'Acme', sans-serif;
}


.img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.ditail_page {
    background: url(/img/ELEMENTLAR.png) no-repeat center/cover;
}

.bio {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: aqua;
    background: url(/img/kids.svg) no-repeat center/cover;
}

.comment {
    display: flex;
    list-style: none;   
}

.comment-body {
    width: 90%;
}

.space {
    width: 20px;
}

.text > h2 {
    font-weight: 800;
    font-size: 40px;
}

.text > .icon > .position > span {
    color: var(--yellow);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.text > p > a {
    color: var(--title-yellow);
    text-decoration: none;
    margin-right: 3px;
}

.text > p > a > span {
    margin-right: 5px;
}

.icon > .position > h4 {
    font-weight: 600;
}

.comment-body > h3 {
    font-size: 20px;
}

.comment-body > .meta {
    font-size: 14px;
}

.comment-text {
    margin-top: 15px;
    font-size: 17px;
}

.comment-body > p > .reply {
    background-color: var(--yellow);
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 11px;
    text-transform: uppercase;
}

.row > .col-md-7 > .py-4 > p {
    font-size: 18px;
}