header a{
    white-space: nowrap;
    transition: top 0.2s ease-in-out;
}

header .navbar-1{
    background: #D2D2D2;

}

.navbar-1 .navbar{
    width: 100%;
}

.navbar-1 .navbar ul{
    width: inherit;
}

.navbar-1 .navbar ul li a{
    color: #808080;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.navbar-1 .navbar ul .dropdown-toggle::after{
    color: transparent;
}

.navbar-1 .navbar ul li:not(:first-child) a{
    border-left: 1px solid white;
}

.navbar-2{
    background: #F5C24D;
}

.navbar-2 a{
    text-align: center;
}

.navbar-2 .navbar-brand{
    border-right: 2px solid #E5E2E2;
    padding-right: 2rem;
}

.navbar-2 #navbarSupportedContent form button{
    border: none;
    background: transparent;
}

.navbar-2 #navbarSupportedContent form:hover+input,
.navbar-2 #navbarSupportedContent form button:hover+input,
.navbar-2 #navbarSupportedContent form input:hover{
   display: block;
}

.navbar-2 #navbarSupportedContent form input{
    display: none;
    transition: right 0.2s ease-in-out;

}

@media screen and (max-width:1200px) {
    .navbar-2 ul li:last-child{
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .navbar-2 #navbarSupportedContent{
        margin-top: 3rem;
        padding: 1.5rem;
    }

    .navbar-2 #navbarSupportedContent form input{
        display: block;
    }

    .navbar-2 .navbar-brand{
        border-right: none;
    }
}

