@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

/* registration page fonts */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&family=Inter:wght@400;700&display=swap');


:root {
    --yellow: #F5C24D;
    --black: #000;
    --red: #ED6059;
    --green: #2DF57D;
    --blue: #2A819E;
    --grey: #737171;

    --back-img: url(/img/back-img.svg);


    --abel-font: 'Abel', sans-serif;
    --exo-font: 'Exo', sans-serif;
    --baloo-font: 'Baloo 2', sans-serif;  
    --register-head-font: 'Advent Pro', sans-serif;
    --register-body-font: 'Inter', sans-serif;
}



/* regester banner start */
.registration-page .banner{
    background-color: rgba(242, 209, 70, 1);

}
.registration-page .banner img{
    bottom: -15px;
}

.registration-page .banner h1{
    font-family: var(--register-head-font);
    color: var(--black);
    font-weight: 600;
    font-size: min(13vw, 70px);
}

/* end of banner */

.registration-page .form-wrapper {
    background-color: #f0f0f0;
}



.registration-page .registration-form .text-input-wrapper>label{
    color: #494949 !important;
    font-family: var(--register-body-font) !important;
    font-size: min(4.5vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 12px;
    transform: translateY(22px);    
    transition: 250ms ease;
    pointer-events: none;

}

.registration-page .registration-form .text-input-wrapper>input{
    height: 65px;
    color: #494949 !important;
    font-family: var(--register-body-font) !important;

    font-style: normal;
    font-weight: 400;
}

.registration-page .text-input-wrapper>input{
    outline: none;
    border: #F5C24D 1px solid;
    background-color: rgba(211, 211, 211, 1);
}

.registration-page .text-input-wrapper>input:valid{
    outline: none;
    border: var(--green) 1px solid;
}


.registration-page .text-input-wrapper>input:focus ~ label.text-input-label,
.registration-page .text-input-wrapper>input:valid ~ label.text-input-label{
    transform: translateY(-25px);
    padding: 0 3px;
    color: var(--black) !important;
    font-weight: 500;
}

.registration-page .registration-form .input-help-text{
    color: #939393;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.registration-page .reg-form-select select{
    height: 65px;
    color: #494949 !important;
    font-family: var(--register-body-font) !important;
    font-size: min(4.5vw, 20px);
    font-style: normal;
    font-weight: 400;
    outline: none;
    border: #F5C24D 1px solid;
    background-color: rgba(211, 211, 211, 1);
}




@media (max-width: 1400) {
    
}

@media (max-width: 1200) {
    
}

@media (max-width: 992) {
    
}

@media (max-width: 768) {
    
}

@media (max-width: 576) {
    
}
